.container {
  position: relative;
  top: 20px;
}

/* Dark Mode Toggle */
.theme-switch-wrapper-s {
  display: flex;
}

.theme-switch-wrapper-b {
  display: flex;
}

.theme-switch {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 60px;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 19px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 19px;
}

input:checked + .slider {
  background: green;
}

input:checked + .slider::before {
  transform: translateX(32px);
}

.slider.round {
  border-radius: 100vh;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  font-size: 24px;
  margin-right: 5px;
}

/* Rotate home image */
.rotate-image {
  display: inline-block;
  animation: rotate 90s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* styles for hover on delete and edit icons */

.delete-icon:hover,
.edit-icon:hover {
  filter: brightness(80%);
  transform: scale(1.1);
}

/* Placeholder text */
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.modal-backdrop.show {
  opacity: 0.8;
  backdrop-filter: blur(10px);
}

@media (max-width: 991px) {
  .theme-switch-wrapper-s {
    display: none;
  }
}

@media (min-width: 992px) {
  .theme-switch-wrapper-b {
    display: none;
  }
}
