<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img
      src="/images/handshake.jpg"
      class="d-block mx-lg-auto rounded-circle"
      alt="handshake"
      width="500"
      height="500"
      loading="lazy"
      style="max-width: 90vw; max-height: 90vw"
    />
  </div>
  <div class="col-lg-6">
    <h1 class="display-3 fw-bold text-success lh-1 mb-3 text-success">
      Your Trusted Hub
    </h1>
    <h2 class="text-success-emphasis ms-1">
      for Job Opportunities and Internships
    </h2>
    <p class="lead text-secondary">Jobs That Fit Your Life...</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a
        href="/jobs"
        class="btn btn-success btn-lg px-4 me-md-2 rounded-pill"
      >
        I'm A Job Seeker
    </a>
      <a href="/register" class="btn btn-success btn-lg px-4 rounded-pill">
        I'm A Recruiter
      </a>
    </div>
  </div>
</div>
