<div
  class="container-fluid d-flex justify-content-center"
  style="min-height: 100vh"
>
  <div class="row w-100">
    <div class="col-md-6 col-lg-4 mx-auto">
      <h1 class="mt-5 mb-4 header text-center">Login</h1>

      <%if(errors){ %>
        <div class="alert alert-danger" role="alert">
            <%= errors %>
        </div>
      <%}%>

      <form action="/login" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-success rounded-pill px-5">Login</button>
      </form>
      <hr>
      <div>
        <small class="text-secondary me-3">Not Registered?</small>
        <a href="/register" class="btn btn-sm btn-outline-success rounded-pill">Register</a>
      </div>
    </div>
  </div>
</div>
